.introduction {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 95vw;
    background-color: rgb(49, 49, 49);
}

.rectangle {
    // font-size: 1em;
  
    min-height: 2em;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*Propriété comme itemFlex*/
    /* boîtes non flexibles du 1/3 de la largeur de son parent */
    flex: 1 0 50%;
    
}

/* Caractéristiques de chaque rectangle de l'intro...
   ========================================================================== */
.rectangle:first-of-type,
.rectangle:last-of-type {
    /* Le 1er et le dernier rectangle sont centrés sur une seule ligne...*/
    width: 100%;
    flex: 1 0 100%;
}

.rectangle:nth-child(1) {
   // background-color:#601F23;
   font-size:3vw;
    animation: anim1 0.5s;
}

.rectangle:nth-child(2) {
    //background-color: rgb(49, 49, 49);
    font-size:2vw;
    animation: anim2 0.5s 0.5s backwards;
}

.rectangle:nth-child(3) {
    //background-color: #601F23;
    font-size:1.5vw;
    animation: anim3 0.5s 1s backwards;
    animation: anim4 0.5s 2s backwards;
}

.bouton{
    font-size:2vw;
    border:2px #3ab9b3 solid;
    color:#3ab9b3;
    margin-top:1vh;
    animation: anim5 1s 2s backwards;
}

.bouton:hover{
    transform: scale(1.1);
}

.deplacementContenuIntro {
    animation: deplacementContenuIntro 1s backwards;
}

@keyframes anim1 {
    from {
        transform: translateY(-50vh) rotate(-45deg);

    }

    to {
        transform: translateY(0%) rotate(0);
    }
}

@keyframes anim2 {
    from {
        transform: translateX(-200%) rotate(-45deg);
    }

    to {
        transform: translateX(0%) rotate(0);
    }
}

@keyframes anim3 {
    from {
        opacity:  0;
        transform: translateX(200%);
        
    }

    to {
        opacity:  1;
        transform: translateX(0%);
    }
}

@keyframes anim4 {
    from {
        opacity:  0;
        transform: skewY(20deg) ;
       
    }

    85%{
        opacity:  0.5;
    }

    to {
        opacity:  1;
        transform:  skewY(0deg);
    }
}

@keyframes anim5 {
    from {
        transform: translateY(-50vh) rotate(-45deg);

    }
    50%{
        transform: scale(2, 2);
    }

    to {
        transform: translateY(0%) rotate(0);
    }
}

@keyframes animGo {
    from {
        transform: translateY(200vh) rotate(-45deg);
    }

    50%,
    to {
        transform: translateY(0%) rotate(0);
    }
}

@keyframes deplacementContenuIntro { 
    from {
        transform: translateY(0vh);
     
    }

    to {
        transform: translateY(-100vh);
       
    }
}