.gallery-item{
    animation: animImg 10s;
}


.gallery{
    animation: animFond 10s;
}

@keyframes animImg{
    from {
        opacity:0;
    }
   
    to {
        opacity:1;
    }
}

@keyframes animFond{
    from {
        background-color:#303030;
        opacity:0.5;
    }
  
    to {
        background-color:#3ab9b3;
        opacity:1;
    }
}