.menu a {
	text-decoration: none;
	color: white;
	border-bottom: 1px solid white;
	font-size: 2rem;
	padding: 0.5rem;
	//margin-bottom:5vh;
	//margin-top:2vh;
	animation:animA 0.5s backwards;
	//align-content: center;
}

.menu a:first-child {
	border-top: none;
	
}

.menu a:hover{
	color:#3ab9b3;
	
}

.menu:hover{
	background-color:#252525;
	
	
}

@keyframes animA{
    from {
       transform: translateY(-80vh);
    }
  
    to {
        transform: translateY(0vh);
    }
}

